<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mao.dao.RealtimedataMapper">
	<resultMap id="BaseResultMap" type="cn.mao.pojo.Realtimedata">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="human" jdbcType="VARCHAR" property="human" />
		<result column="smoke" jdbcType="VARCHAR" property="smoke" />
		<result column="lamp" jdbcType="VARCHAR" property="lamp" />
		<result column="air" jdbcType="VARCHAR" property="air" />
		<result column="alarm" jdbcType="VARCHAR" property="alarm" />
		<result column="door" jdbcType="VARCHAR" property="door" />
		<result column="time" jdbcType="TIMESTAMP" property="time" />
	</resultMap>
	<sql id="Base_Column_List">
		id, human, smoke, lamp, air, alarm, door, time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from realtimedata
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		realtimedata
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.mao.pojo.Realtimedata">
		insert into realtimedata (id,
		human, smoke,
		lamp, air, alarm, door,
		time)
		values
		(#{id,jdbcType=INTEGER}, #{human,jdbcType=VARCHAR},
		#{smoke,jdbcType=VARCHAR},
		#{lamp,jdbcType=VARCHAR},
		#{air,jdbcType=VARCHAR}, #{alarm,jdbcType=VARCHAR},
		#{door,jdbcType=VARCHAR},
		#{time,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="cn.mao.pojo.Realtimedata">
		insert into realtimedata
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="human != null">
				human,
			</if>
			<if test="smoke != null">
				smoke,
			</if>
			<if test="lamp != null">
				lamp,
			</if>
			<if test="air != null">
				air,
			</if>
			<if test="alarm != null">
				alarm,
			</if>
			<if test="door != null">
				door,
			</if>
			<if test="time != null">
				time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="human != null">
				#{human,jdbcType=VARCHAR},
			</if>
			<if test="smoke != null">
				#{smoke,jdbcType=VARCHAR},
			</if>
			<if test="lamp != null">
				#{lamp,jdbcType=VARCHAR},
			</if>
			<if test="air != null">
				#{air,jdbcType=VARCHAR},
			</if>
			<if test="alarm != null">
				#{alarm,jdbcType=VARCHAR},
			</if>
			<if test="door != null">
				#{door,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.mao.pojo.Realtimedata">
		update realtimedata
		<set>
			<if test="human != null">
				human = #{human,jdbcType=VARCHAR},
			</if>
			<if test="smoke != null">
				smoke = #{smoke,jdbcType=VARCHAR},
			</if>
			<if test="lamp != null">
				lamp = #{lamp,jdbcType=VARCHAR},
			</if>
			<if test="air != null">
				air = #{air,jdbcType=VARCHAR},
			</if>
			<if test="alarm != null">
				alarm = #{alarm,jdbcType=VARCHAR},
			</if>
			<if test="door != null">
				door = #{door,jdbcType=VARCHAR},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.mao.pojo.Realtimedata">
		update
		realtimedata
		set human = #{human,jdbcType=VARCHAR},
		smoke =
		#{smoke,jdbcType=VARCHAR},
		lamp = #{lamp,jdbcType=VARCHAR},
		air =
		#{air,jdbcType=VARCHAR},
		alarm = #{alarm,jdbcType=VARCHAR},
		door =
		#{door,jdbcType=VARCHAR},
		time = #{time,jdbcType=TIMESTAMP}
		where id =1
	</update>
	<select id="selectRealtimedataAll" parameterType="java.util.List"
		resultMap="BaseResultMap">
		select * from realtimedata where id=1
	</select>
</mapper>