<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mao.dao.ResidentMapper">
	<resultMap id="BaseResultMap" type="cn.mao.pojo.Resident">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="residentname" jdbcType="VARCHAR" property="residentname" />
		<result column="doorid" jdbcType="VARCHAR" property="doorid" />
		<result column="sex" jdbcType="VARCHAR" property="sex" />
	</resultMap>
	<sql id="Base_Column_List">
		id, residentname, doorid, sex
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from resident
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		resident
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.mao.pojo.Resident">
		insert into resident (id,
		residentname, doorid,
		sex)
		values (#{id,jdbcType=INTEGER},
		#{residentname,jdbcType=VARCHAR},
		#{doorid,jdbcType=VARCHAR},
		#{sex,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.mao.pojo.Resident">
		insert into resident
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="residentname != null">
				residentname,
			</if>
			<if test="doorid != null">
				doorid,
			</if>
			<if test="sex != null">
				sex,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="residentname != null">
				#{residentname,jdbcType=VARCHAR},
			</if>
			<if test="doorid != null">
				#{doorid,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.mao.pojo.Resident">
		update resident
		<set>
			<if test="residentname != null">
				residentname = #{residentname,jdbcType=VARCHAR},
			</if>
			<if test="doorid != null">
				doorid = #{doorid,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.mao.pojo.Resident">
		update resident
		set residentname = #{residentname,jdbcType=VARCHAR},
		doorid =
		#{doorid,jdbcType=VARCHAR},
		sex = #{sex,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
	<select id="selectResidentAll" parameterType="java.util.List"
		resultMap="BaseResultMap">
		select * from resident where id!=""
	</select>
	<select id="selectResidentByPage" resultMap="BaseResultMap">
		select * from
		resident
		order by id desc limit #{page},#{limit}
	</select>
	<select id="selectByDoorid" parameterType="String" resultMap="BaseResultMap">
		select * from resident where doorid=#{doorid}
		order by id desc limit
		0,1
	</select>
</mapper>